<div fxLayout="column" class="camposBotaoSelecao">
  <div fxLayout="row">
    <div class="localFoto">
      <img class="fotoHotel" src="{{item.photo}}" style="margin-top: -2px;">
    </div>
    <div class="localCamposSelecao" fxLayout="column">
      <div [hidden]="true" style="position: relative;height: 0px;">
        <div class="caixaDesconto">-{{item.desconto}}%</div>
      </div>
      <div style="flex: 1;">
        <div class="labelLocal">{{item.name}}</div>
        <div class="labelTitulo">{{item.titulo}}</div>
        <div fxLayout="row">
          <div [hidden]="!item.mostraEstrela1">
            <i class="fa fa-star estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela15">
            <i class="fa fa-star-half estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela2">
            <i class="fa fa-star estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela25">
            <i class="fa fa-star-half estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela3">
            <i class="fa fa-star estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela35">
            <i class="fa fa-star-half estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela4">
            <i class="fa fa-star estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela45">
            <i class="fa fa-star-half estrela" aria-hidden="true"></i>
          </div>

          <div [hidden]="!item.mostraEstrela5">
            <i class="fa fa-star estrela" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div style="flex: 1;text-align: right;margin-bottom: 13px;margin-top: -27px;">
        <div class="aPartir">Valor por pessoa</div>
        <div class="valorPacote" fxLayout="row" [ngClass]="(item.desconto > 0)?'corVerm':'corNorm'">
          <div class="labelReal">R$</div>
          {{item.valor | number:'.2-2'}}
        </div>
      </div>

    </div>
  </div>
  <div fxLayout="row" style="border-top: 1px solid #00000014;padding-top: 7px;padding-bottom: 7px;">
    <div style="width: 40px;padding-top: 3px;padding-left: 6px;padding-right: 5px;">
      <i class="fa fa-bed icoBed " aria-hidden="true"></i>
    </div>
    <div style="text-align: left;flex: 1;">
      <div style="font-size: 11px;font-weight: 800;color: var(--main-color);">{{quartoSelecionado.name}}</div>
      <div style="font-size: 11px;">{{tipoRefeicao}}</div>
    </div>
    <div>
        <div class="caixaDisponivel" style="margin-top: 5px;">Quartos disponíveis {{quartoSelecionado.availableRooms}}</div>
    </div>
  </div>
</div>