<div fxLayout="column">
    <div class="headerSeleciona" fxLayout="column">
        <div class="labelHeader">Quartos e hóspedes</div>
    </div>
    <div fxLayout="column" class="containerInfo">
        <div fxLayout="row" class="localInfo">
            <div class="labelDesc">Quartos</div>
            <div fxLayout="row" style="width: 115px;">
                <button [ngClass]="(qtdQuartos == 4 )?'btDesab':'btNorm'" class="botaoQtd" (click)="aumentaQtdQuarto()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <div class="lbQtd">{{qtdQuartos}}</div>
                <button [ngClass]="(qtdQuartos == 1 )?'btDesab':'btNorm'" class="botaoQtd" (click)="diminuiQtdQuarto()">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div fxLayout="row" class="localInfo">
            <div class="labelDesc">Adultos</div>
            <div fxLayout="row" style="width: 115px;">
                <button [ngClass]="(qtdAdultos == 4 )?'btDesab':'btNorm'" class="botaoQtd" (click)="aumentaQtdAdultos()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <div class="lbQtd">{{qtdAdultos}}</div>
                <button [ngClass]="(qtdAdultos == 1 )?'btDesab':'btNorm'" class="botaoQtd" (click)="diminuiQtdAdultos()">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div fxLayout="row" class="localInfo">
            <div class="labelDesc">Crianças</div>
            <div fxLayout="row" style="width: 115px;">
                <button [ngClass]="(qtdCriancas == 3 )?'btDesab':'btNorm'" class="botaoQtd" (click)="aumentaQtdCriancas()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <div class="lbQtd">{{qtdCriancas}}</div>
                <button [ngClass]="(qtdCriancas == 0 )?'btDesab':'btNorm'" class="botaoQtd" (click)="diminuiQtdCriancas()">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="localInfo containerCrianca" [hidden]="listaCriancas.length == 0">
            <div fxLayout="row" *ngFor="let item of listaCriancas" class="localInfoCrianca">
                <div class="labelDesc labelCrianca">
                    {{item.label}}
                </div>
                <div fxLayout="row" style="width: 115px;">
                    <button [ngClass]="(item.idadeCrianca == 12 )?'btDesab':'btNorm'" class="botaoQtd" (click)="aumentaIdadeCrianca(item)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <div class="lbQtd lbIdadeCrianca" [ngClass]="(item.idadeCrianca == 0 )?'lbQtdPeq':'lbQtdNorm'" >{{item.idadeCrianca | idadeCriancaPipe:item}}</div>
                    <button [ngClass]="(item.idadeCrianca == 0 )?'btDesab':'btNorm'" class="botaoQtd" (click)="diminuiIdadeCrianca(item)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="localBotaoAplicar">
    <button fxFlex="0" class="botaoPesquisar" (click)="aplicarQtd($event)">
        APLICAR
    </button>
</div>