@import "/css/magic-check.min.css";

:root {
    --main-color: #555e7d;
    --second-color: #95b33a;
    --cor-campo: #ffffff;
}

.campoPesquisa{
    background-color: var(--cor-campo);
}

.magic-checkbox+label:before, .magic-radio+label:before {
    border: 2px solid #ffffff00 !important;
    background-color: #ffffffad !important;
}

.magic-radio:checked+label:before {
    border: 2px solid #ffffff00 !important;
    overflow: hidden;
    background-color: #ffffffad !important;
}

.magic-checkbox:checked+label:before {
    border: #ffffff00 !important;
    background: #ffffffad !important;
    width: 24px;
    height: 24px;        
}

.magic-radio+label:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff    !important;
}

.magic-checkbox+label:after {
    top: 4px;
    left: 9px;
}


button{
    outline: none !important;
}

button:active:enabled {
    opacity: 0.7 !important;
    outline: none !important;
  }

.botaoInferior:active:enabled {
    opacity: 0.7;
  }

.botaoVoltar:active:enabled {
    opacity: 0.7;
  }

body{
    margin: 0px;
    outline: none;
    font-family: 'Open Sans', sans-serif !important;
}

html{
    overflow: hidden;
}

input{
    height: 35px;
    border: 0px;
    border-radius: 3px;
}

/deep/ body, button{
    font-family: 'Open Sans', sans-serif !important;
}

.labelHeader{
    font-size: 23px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.botaoVoltar{
    left: 5px;
    color: #FFFFFF;
    background-color: #ffffff00;
    border: 0px;
    font-size: 20px;
    width: 30px;
    opacity: 0 ;
    margin-left: 10px;
}

.calendar {
    display: block;
}

.botaoPesquisar{
    font-size: 19px;
}

.itemSelecao{
    min-height: 205px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 1px 1px 4px 0px #9e9e9e;
    background-color: #FFFFFF;
}

.camposBotaoSelecao{
    overflow: hidden;
    margin-top: -1px;
    margin-left: -6px;
    margin-right: -6px;
    border-radius: 5px;
}

.localCamposSelecao{
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    padding-right: 10px;
    padding-top: 3px;
}

.aPartir{
    color: #969494;
    font-size: 11px;
    margin-bottom: 8px;
}



.loading-block {
    zoom: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.loading-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    filter: alpha(opacity=70);
}

.spinner {
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -57px;
    margin-left: -57px;
    padding: 47px 24px;
    border-radius: 130px;
    width: 66px;
    height: 20px;
    background-color:  var(--second-color);
}

.loading span {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: 93px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 1em;
}

.airplane svg {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 32px;
    right: 83px;
    fill:var(--second-color);
}

.airplane {
    background:  var(--second-color);
    -webkit-animation: spin1 2s infinite linear;
    moz-animation: spin1 2s infinite linear;
    o-animation: spin1 2s infinite linear;
    ms-animation: spin1 2s infinite linear;
    animation: spin1 3s infinite linear;
    display: block;
    width: 46px;
    height: 100px;
    top: 8px;
    left: 33px;
    position: absolute;
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@-keyframes spin1 {
    0%{
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}

}

.balls {
    position: absolute;
    opacity: 0.9;
    z-index: 99999;
}

    .balls > div {
        width: 18px;
        height: 18px;
        background-color: #ffffff70;
        border-radius: 100%;
        display: inline-block;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .balls .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .balls .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
