detalhes-pacote, procura-local{
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: var(--main-color);
    height: 100vh;
    z-index: 99999;
}
 
detalhes-pacote{
    height: 100vh;
    z-index: 9999999;
    background-color: #FFFFFF;
}

.headerPacotes{
    background-color: var(--main-color);
    padding: 10px;
    display: block !important;
}

.telaCarregando{
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    height: calc(100vh - 70px);
    width: 100%;
}

.icoCarregando{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: relative;
    width: 61px;
    font-size: 62px;
    color: #FFFFFF;    
}

.campoBotao{
    height: 35px;
    background-color: var(--cor-campo);
    border: 0px;
    border-radius: 3px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;    
}

.listaSelecao{
    display: flex;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-left: 5px;
    padding-right: 5px;    
}

.icoFiltroAplicado{
    background-color: #5f9e74;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 2px;
}

.icoFiltro{
    font-size: 17px;
    padding-right: 8px;
    margin-top: -2px;

}

.botaoFiltro{
    background-color: #ffffff00;
    border: 0px;
    color: #FFFFFF;
    justify-content: center;
    outline: none;
}

.caixaFiltro{
    position: absolute;
    z-index: 0;
    background: var(--main-color);
    width: 227px;
    margin-left: calc(50% - 113px);
    bottom: 82px;
    height: 50px;
    border-radius: 30px;
    color: #FFFFFF;
    box-shadow: 0px 1px 1px 1px #33333329;
}

.telaFiltro{
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: var(--main-color);
    height: 100vh;
    z-index: 99999;
}

.telaSaida{
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: var(--main-color);
    height: 100vh;
    z-index: 99999;
}


.botaoPesquisar{
    background-color: var(--second-color);
    border: 0;
    height: 35px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 5px;
    border-radius: 3px;
}

.botaoVoltarTela{
    position: absolute;
    top: -35px;
    left: 5px;
    color: #FFFFFF;
    background-color: #ffffff00;
    border: 0px;
    font-size: 20px;
    width: 30px;
    opacity: 0 ;
    margin-left: 10px;    
    top: 6px;
    z-index: 1;
    opacity: 1;
    left: 3px;
    margin-left: 0px;
    z-index: 0;
}

.localFoto{
    height: 110px;
    overflow: hidden;
}


.botaoPesquisarPeq{
    margin-top: 0px;
    margin-left: -40px;
    width: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.localCampos{
    margin-top: 5px;
    margin-bottom: 5px;
}

.icoSearch{
    margin-left: 10px;
    margin-top: 9px;
    color: var(--main-color);
}

.telaPacotes{
    height: calc(100vh - 67px);
    overflow-y: auto;
    display: block !important;
    background-color: #FFFFFF;
}


.aPartir{
    color: #969494;
    font-size: 11px;
    margin-bottom: 8px;
}

.valorPacote{
    font-weight: 700;
    font-size: 24px;
    justify-content: flex-end;
    margin-top: -4px;
}

.labelCancelamento{
    color: #34981c;
    font-weight: 600;
    font-size: 10px;
    padding-top: 2px;
}

.labelTitulo {
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 30px;
}

.lbQtd{
    font-size: 15px;
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
}

.labelLocal{
    font-weight: 600;
}

.icoQtd{
    padding-top: 4px;
}

.lbTextoQtd{
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
}

.labelReal{
    font-size: 14px;
    padding-top: 10px;
    padding-right: 2px;
}